body{
    background-color: #737373;
    text-align: center;
}
img{
    width: fit-content;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 
}
.grid img {
    display: block;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #343535;
    margin: 50px auto;
}